/* 초기화 */
* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 시작 */

body {
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: left;
  margin-top: 2rem;
}

.card-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.card-body {
  font-size: 16px;
  margin-bottom: 20px;
}

.card-footer {
  display: flex;
  gap: 1rem;
}

.card-tag {
  background-color: #ebebeb;
  color: #333;
  padding: 6px 12px;
  border-radius: 0.5rem;
  font-size: 14px;
}
