/* 초기화 */
* {
  margin: 0;
  box-sizing: border-box;
}

.full-frame {
  width: 100%;
  height: 100%;

  background-color: rgb(234, 234, 234);
}

.header {
  width: 100%;
  background-color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: bold;
}

.header-content {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}

.profile-image {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid black;
}

.navigationbar {
  display: flex;
  width: 100%;
  margin: 1rem;
  opacity: 0.5;
}

.navigationbar-content > span {
  margin-left: 1rem;
  margin-right: 1rem;
}

.card-selecter {
  display: flex;
  overflow: auto;
  margin: 1rem;
}

.card {
  width: 20rem;

  margin: 1rem;
  background-color: white;
  border-radius: 10px;
  flex-shrink: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.card-foodimg {
  height: 8rem;
  border: 1px solid black;
  border-radius: 10px 10px 0px 0px;
}
.card-rating {
  height: 1.5rem;
  border: 1px solid black;
  line-height: 1.5rem;
}
.card-foodname {
  height: 1.5rem;
  border: 1px solid black;
  line-height: 1.5rem;
}

.main {
  width: 100%;
}

.maincontent {
  display: flex;
  overflow: auto;
  margin: 1rem;
}

.maincontent-left {
  width: 75%;
  height: 60rem;
  margin: 1rem;
  padding: 20px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  color: white;
  flex-shrink: 0;
  gap: 10rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.maincontent-right {
  width: 25%;
  height: 60rem;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  color: white;
  flex-shrink: 0;
  gap: 10rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.footer {
  padding: 2rem;
}
