/* 초기화 */
* {
  margin: 0;
  box-sizing: border-box;
}

img {
  object-fit: cover;
}

.full-frame {
  width: 100%;
  height: 100%;

  background-color: rgb(234, 234, 234);
}

.header {
  width: 100%;
  background-color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: bold;
}

.header-content {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}

.profile-image {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid black;
}

.navigationbar {
  display: flex;
  width: 100%;
  margin: 1rem;
  opacity: 0.5;
}

.navigationbar-content > span {
  margin-left: 1rem;
  margin-right: 1rem;
}

.card-selecter {
  display: flex;
  overflow: auto;
  margin: 1rem;
}

.card {
  width: 20rem;
  margin: 1rem;
  background-color: white;
  border-radius: 10px;
  flex-shrink: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.card-foodimg1 {
  height: 8rem;
  border-radius: 10px 10px 0px 0px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSA2CbtuJG7okaxS1lsRILsbZnvG38FPVDh_Q&s");
  background-size: cover;
}
.card-foodimg2 {
  height: 8rem;
  border-radius: 10px 10px 0px 0px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbimFYEc38tYNMcrS8_Aex_eZrbOXXg81Wow&s");
  background-size: cover;
}
.card-foodimg3 {
  height: 8rem;
  border-radius: 10px 10px 0px 0px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPu0XH4N8aqbboYXoFFB_nmdUDX3Jgn6WRRg&s");
  background-size: cover;
}
.card-foodimg4 {
  height: 8rem;
  border-radius: 10px 10px 0px 0px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScnto450dXxtpPVbeAP2Z9TQmGbFAaatbV0Q&s");
  background-size: cover;
}
.card-foodimg5 {
  height: 8rem;
  border-radius: 10px 10px 0px 0px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRL7cdEh6nDG4N9H_36wrGoz8m1UfkrsemT0Q&s");
  background-size: cover;
}

.card-rating {
  height: 1.5rem;
  line-height: 1.5rem;
  margin-left: 1rem;
}
.card-foodname {
  height: 1.5rem;
  line-height: 1.5rem;
  margin-left: 1rem;
}

.main {
  width: 100%;
}

.maincontent {
  display: flex;
  overflow: auto;
  margin: 1rem;
}

.maincontent-left {
  width: 75%;
  height: 60rem;
  margin: 1rem;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  flex-shrink: 0;
  gap: 10rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.maincontent-left-title {
  font-size: 2rem;
  font-weight: bold;
}

.maincontent-img {
  width: 100vw;
  height: 60%;
}

.maincontent-right {
  width: 25%;
  height: 60rem;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  flex-shrink: 0;
  gap: 10rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-image: url("https://i.pinimg.com/originals/5e/6e/71/5e6e7189fbe74bef265d1484aeef68f6.png");
  background-size: contain;
}

.footer {
  padding: 2rem;
}
